<div class="container">
  <h2>Thêm sản phẩm</h2>
  <br />
  <form class="example-form" [formGroup]="formUser" (submit)="save()">
    <div class="row">
      <div class="mb-3">
        <label class="form-label">User Name</label>
        <input
          type="text"
          class="form-control"
          required
          formControlName="userName"
          placeholder="Enter username"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>
        <input
          type="text"
          class="form-control"
          minlength="6"
          required
          formControlName="password"
          placeholder="Enter password"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Full name</label>
        <input
          type="text"
          class="form-control"
          required
          formControlName="fullName"
          placeholder="Enter fullName"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Address</label>
        <input
          type="text"
          class="form-control"
          required
          formControlName="address"
          placeholder="Enter address"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          required
          formControlName="email"
          placeholder="Enter email"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Phone Number</label>
        <input
          type="tel"
          class="form-control"
          minlength="10"
          required
          formControlName="phone_Number"
          placeholder="Enter phone_Number"
        />
      </div>
    </div>
    <br />
    <button type="submit" mat-raised-button color="warn">Save</button>
  </form>
</div>
