<h2>Category</h2>
<p-table [value]="categoryList" [rows]="3" [paginator]="true">
  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-x>
    <tr>
      <td>{{ x.id }}</td>
      <td>{{ x.category_Name }}</td>
      <td>
        <button (click)="remove(x.id)" type="button" mat-fab color="warn">
          <mat-icon>delete</mat-icon>
        </button>
        <a routerLink="/admin/category/{{ x.id }}" mat-fab color="warn">
          <mat-icon>edit</mat-icon></a
        >
      </td>
    </tr>
  </ng-template>
</p-table>
